<mat-card class="form-card">
    <form class="example-form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td><mat-form-field class="example-full-width">
                        <mat-label>Nome</mat-label>
                        <input matInput required [formControl]="nome">
                        <mat-error *ngIf="email.invalid">{{getErrorNomeMessage()}}</mat-error>
                    </mat-form-field></td>
            </tr>
            <tr>
                <td>  <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorEmailMessage()}}</mat-error>
                  </mat-form-field></td>
            </tr>
            <tr>
                <mat-form-field appearance="fill">
                    <mat-label>Seção</mat-label>
                    <mat-select [(ngModel)]="sessaoSelected" name="sessao">
                      <mat-option *ngFor="let sessao of sessoes" [value]="sessao">
                        Sessao:{{sessao.getId()}} - Horário: {{sessao.getHorario()}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </tr>
            <p *ngIf = "sessaoSelected.getSala().getId() != 0"> Sala: {{sessaoSelected.getSala().getId()}} </p>
            <div *ngIf = "sessaoSelected.getSala().getId() != 0" class="valor">
                <span>Valor Ingresso</span>
                <h4> R${{sessaoSelected.getFilme().valorIngresso}},00</h4>
            </div>
            
        </table>
        <button mat-flat-button color="primary" (click) ="onBuy()">Comprar ingresso</button>
    </form>
</mat-card>