<mat-card *ngIf="!(cliente.nome == 'null')" class="ticket-card">
    <mat-card-header>
        <mat-card-title>Informações Ingresso</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="cliente">
            <p><strong>Nome:</strong> {{cliente.nome}}</p>
            <p><strong>Email:</strong> {{cliente.email}}</p>
        </div>
        <div class="filme">
            <p><strong>Filme:</strong> {{ingresso.getSessao().getFilme().titulo}}</p>
            <p><strong>Duração: </strong>{{ingresso.getSessao().getFilme().duracao}} minutos</p>
        </div>
        <div class="sessao">
            <p><strong>Sessão:</strong> {{ingresso.getSessao().getId()}}</p>
            <p><strong>Sala:</strong> {{ingresso.getSessao().getSala().getId()}}</p>
            <p><strong>Horário:</strong> {{ingresso.getSessao().getHorario()}}</p>
        </div>
        <div class="valor">
            <p><strong>R$ {{ingresso.getValor()}},00</strong></p>
        </div>
    </mat-card-content>
</mat-card>