<mat-card *ngIf="!(cliente.nome == 'null')" class="ticket-card">
    <div class="cliente">
        <span><strong>Nome:</strong> {{cliente.nome}}</span>
        <span><strong>Email:</strong> {{cliente.email}}</span>
    </div>
    <div class="filme">
        <span><strong>Filme:</strong> {{ingresso.getSessao().getFilme().titulo}}</span>
        <span><strong>Duração: </strong>{{ingresso.getSessao().getFilme().duracao}} minutos</span>
    </div>
    <div class="sessao">
        <span><strong>Sessão:</strong> {{ingresso.getSessao().getId()}}</span>
        <span><strong>Sala:</strong> {{ingresso.getSessao().getSala().getId()}}</span>
        <span><strong>Horário:</strong> {{ingresso.getSessao().getHorario()}}</span>
    </div>
    <div class="valor">
        <span><strong>R$ {{ingresso.getValor()}},00</strong></span>
    </div>
</mat-card>